<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/meta') %>
</head>
<body>
  <%- include('../partials/header') %>
  <div class="container">
    <h1>Ecommerce EJS | Contacto</h1>
  </div>
</body>
</html>