* {
  box-sizing: border-box;
}

/* 
 Como máximo, el dispositivo tiene 768px
 Para dispositivos menores a 768px
*/

body {
  margin: 0;
  background-color: palevioletred;
}

.main-title {
  font-size: 46px;
}

.main-nav-ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.box {
  width: 200px;
  height: 200px;
  background-color: plum;
  margin: 10px;
}

.flex-container {
  display: flex;
}


@media (max-width: 992px) {
  body {
    background-color: peru;
  }
}


/*[0, 768]*/
@media(max-width: 768px) {
  body {
    background-color: orangered;
  }

  .main-title {
    font-size: 30px;
  }

  .flex-container {
    flex-direction: column;
  }

  /* .box {
    width: calc(100% - 20px);
  } */

  .box {
    width: 100%;
    margin: 10px 0;
  }

  .flex-container {
    padding: 10px;
  }

  .main-nav-ul {
    display: block;
  }

}