<header>
	<nav>
		<ul>
			<li>
				<a href="../">Prinicipal</a>
			</li>
			<li>
				<a href="/contacto">Contacto</a>
			</li>
			<li>
				<a href="#">Historia</a>
			</li>
		</ul>
	</nav>
</header>


