<header>
  <nav>
    <ul>
      <li>
        <a href="/">Página Principal</a>
      </li>
      <li>
        <a href="/contacto">Contacto</a>
      </li>
      <li>
        <a href="/productos">Productos</a>
      </li>
    </ul>
  </nav>
</header>