*{
  box-sizing: border-box;
}

h1 {
  color: red;
}

.card {
  width: 25%;
  margin: 20px;
  border: 1px solid gray;
}

img {
  max-width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}