.btn-primary {
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:hover {
  color: #fff;
  background-color: #5a124e;
  border-color: #5a124e;
}