<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/meta') %>
</head>
<body>
  <%- include('./partials/header') %>
  <h1>Ecommerce EJS</h1>

  <% products.forEach(product => { %>
    <h3><%= product.name %></h3>
  <% }) %>
</body>
</html>