<header>
  <div class="container">
    <div class="header-container">
      <div class="logo">
        <img src="/img/logo.png" alt="MyShop Logo">
      </div>
      <nav class="main-nav">
        <ul>
          <li>
            <a href="/">Página Principal</a>
          </li>
          <li>
            <a href="/contacto">Contacto</a>
          </li>
          <li>
            <a href="/productos">Productos</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>