body {
  margin: 0;
}

header {
  background-color: #243572;
}

ul {
  display: flex;
  list-style: none;
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 15px;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}
